<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<appSettings>
		<add key="resolution_1" value="600,337" />
		<add key="resolution_2" value="600,600" />
		<add key="resolution_3" value="600,700" />
		<add key="resolution_4" value="960,600" />
		<add key="guidlines_color" value="#e7e7e7" />
		<add key="arrow_color" value="#00ffff" />
		<add key="draw_guidlines" value="false" />
		<add key="draw_arrows" value="false" />
		<add key="guidline_type" value="1" />
		<add key="arrows_type" value="1" />
		<add key="res_on_close" value="600,600" />
		<add key="custom_grid" value="10,10,10,10" />
		<add key="ident_value_lock" value="false" />
		<add key="save_to_file" value="false" />
	</appSettings>
</configuration>